body {
    --mobile-size: 768px;
    --ff-headings: 'PT Sans', sans-serif;
    --ff-paragraphs: 'Roboto', sans-serif;

    background-color: #202020;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d8d6d8' fill-opacity='0.03'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

main {
    width: 80%;
    margin: 0 auto;
    background-color: #282828;
}

h1 {
    font-size: 3.5em;
    font-family: var(--ff-headings);
    text-align: center;
    color: #d8d6d8;
}

h2 {
    font-size: 1.8em;
    font-family: var(--ff-headings);
    padding-left: 1.2em;
    color: #d8d6d8;
}

p, li {
    font-family: var(--ff-paragraphs);
    color: #d2ced2;
}

p {
    padding: 0.8em 6em;
    font-size: 1,2em;
}

a {
    text-decoration: none;
    color: #d2ced2;
}

#logo {
    width: 10em;
    padding: 0.5em;
    margin: 0 auto;
}

#logo img {
    width: 100%;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

button {
    border: none;
    background: linear-gradient(rgb(150, 0, 0),rgb(96, 16, 0));
    border-radius: 0.8em;
    display: inline;
    padding: 1.5em;
    margin: 0.4em;
    color: #d2ced2;
    font-size: 1em;
    letter-spacing: 0.1em;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#list {
    margin-left: 9em;
    background-color: darkmagenta;
    display: inline-block;
    list-style-image: url(res/pointer.svg);
}

.list-element {
    font-size: 1.4em;
    padding-left: 1.2em;
}

/* @media screen and (min-width: 768px) */